body {background-color: #F4FFE4;
    color: #333333;
    font-family: Arial, Verdana, sans-serif;
    /*background-image: linear-gradient(to bottom, #FFFFFF, #8FA5CE);*/
    background: url(trilliumgradient.png);
}
header {background-color: #D5EDB3;
        color: #5C743D;
        font-family: Georgia, "Times New Roman", serif;
}
h2 {background-color: #D5EDB3;
    color: #5C743D;
    font-family: Georgia, "Times New Roman", serif;
    background-image: url(trilliumbullet.gif);
    background-repeat: no-repeat;
    padding-left:30px;
}
p {font-size: .90em;}
ul {font-weight: bold;}
nav {font-weight: bold;
    font-size: .75em;
}
footer {font-size: .75em;
        font-style: italic;
        border-top: thin solid #AEAED4;
        padding-top: 10px;
}
#container{ background-color: #FFFFFF;
            width: 80%;
            margin: auto;
            box-shadow: 5px 5px 5px #1E1E1E;
            padding: 20px;
            background:url(trilliumfoot.gif) no-repeat bottom right, #FFFFFF;
}